<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>联系方式</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../resources/path/build/plugins/vue-ydui/dist/ydui.rem.css">
    <!-- 引入rem自适应类库 -->
    <link rel="stylesheet" href="../resources/path/build/plugins/ydui-0.1.3/build/css/ydui.css?rev=a4b9d6e8c9c1cae7ea4676f911682af7"/>
    <link rel="stylesheet" href="../resources/path/build/plugins/ydui-0.1.3/demo/css/demo.css"/>
    <script src="../resources/path/build/plugins/ydui-0.1.3/build/js/ydui.flexible.js"></script>
    <script src="../resources/path/build/js/vue.min.js"></script>
    <style>
        .cell-icon {
            color: red;
            margin-right: 0.1rem;
            margin-top: 0.2rem;
            margin-left: 0.1rem;
        }
    </style>
<body>
<section class="g-flexview">

    <header class="m-navbar">
        <a href="personinfo.html" class="navbar-item"><i class="back-ico"></i></a>
        <div class="navbar-center"><span class="navbar-title">联系方式</span></div>
    </header>

    <section class="g-scrollview" id="rrapp" v-cloak>
        <div class="m-cell demo-small-pitch">
            <div class="cell-item" style="display: none">
                <div class="cell-left">学生id<i class="cell-icon">*</i>：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.id" class="cell-input" autocomplete="off" required/></div>
            </div>
            <div class="cell-item">
                <div class="cell-left">通讯地址<i class="cell-icon">*</i>：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.postaladdress" class="cell-input" autocomplete="off" required/></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">电子邮箱<i class="cell-icon">*</i>：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.email" class="cell-input" autocomplete="off" required/></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">通讯邮编<i class="cell-icon">*</i>：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.postalcode" class="cell-input" autocomplete="off" required/></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">其他联系方式<i class="cell-icon">*</i>：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.otherWay" class="cell-input" autocomplete="off" required/></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">MSN号：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.msn" class="cell-input" autocomplete="off" /></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">个人主页：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.homepage" class="cell-input" autocomplete="off" /></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">QQ号：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.qq" class="cell-input" autocomplete="off" /></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">家庭地址：</div>
                <div class="cell-right"><input type="text" id="homeAddress" v-model="shStudent.homeAddress" class="cell-input" autocomplete="off" readonly/></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">家庭邮编：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.homePostal" class="cell-input" autocomplete="off" /></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">家庭电话：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.homePhone" class="cell-input" autocomplete="off" /></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">家庭Email：</div>
                <div class="cell-right"><input type="text" v-model="shStudent.familyEmail" class="cell-input" autocomplete="off" /></div>
            </div>
        </div>
        <div class="m-button">
            <button type="button" class="btn-block btn-primary" @click="saveOrUpdate">提交</button>
        </div>
    </section>
</section>
<!-- 引入组件库 -->
<script src="../resources/path/build/js/fastclick.js"></script>
<script src="../resources/path/build/js/template.js"></script>
<script src="../resources/path/build/js/jquery-3.1.1.min.js"></script>
<script src="../resources/path/build/plugins/ydui-0.1.3/build/js/ydui.js"></script>
<script>
!function (win, $) {
    FastClick.attach(document.body);
    var dialog = win.YDUI.dialog;

    window.apiDomain = 'http://183.195.133.44:81/';
    //获取缓存中登录学生的id
    window.$studentId = localStorage.getItem("studentId");
    //获取登录用户身份证号码
    var $idCard = localStorage.getItem("idCard");
    if ($studentId) { //若本地存在个人信息，则从本地库查询，否则从远程库查询
        var url = 'http://183.195.133.44:81/' + 'app/getStudentInfoById/' + $studentId;
        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            contentType:'application/json;charset=UTF-8',
            success: function (ret) {
                console.log(ret);
                if (ret.code == 0) {
                    var sh = ret.shStudent;
                    vm.shStudent = ret.shStudent;
                    vm.shStudent['postaladdress'] = ret.shStudent.postaladdress;
                    vm.shStudent['email'] = ret.shStudent.email;
                    vm.shStudent['postalcode'] = ret.shStudent.postalcode;
                    vm.shStudent['otherWay'] = ret.shStudent.otherWay;
                    vm.shStudent['msn'] = ret.shStudent.msn;
                    vm.shStudent['homepage'] = ret.shStudent.homepage;
                    vm.shStudent['qq'] = ret.shStudent.qq;
                    vm.shStudent['homeAddress'] = ret.shStudent.homeAddress;
                    vm.shStudent['homePostal'] = ret.shStudent.homePostal;
                    vm.shStudent['homePhone'] = ret.shStudent.homePhone;
                    vm.shStudent['familyEmail'] = ret.shStudent.familyEmail;
                } else {
                    dialog.alert('很抱歉，数据查询失败，请重新尝试！');
                }
            }
        });

        var vm = new Vue({
            el:'#rrapp',
            data: {
                shStudent : {
                    id: $studentId,
                    postaladdress: '',
                    email: '',
                    postalcode: '',
                    otherWay: '',
                    msn: '',
                    homepage: '',
                    qq: '',
                    homeAddress: '',
                    homePostal: '',
                    homePhone: '',
                    familyEmail: ''
                }
            },
            methods: {
                saveOrUpdate: function (event) {
                    vm.shStudent['homeAddress'] = $('#homeAddress').val();
                    var url = "http://183.195.133.44:81/app/shStudentUpdate" ;
                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: 'json',
                        contentType:'application/json;charset=UTF-8',
                        data: JSON.stringify(vm.shStudent),
                        success: function(r){
                            if(r.code == 0) {
                                /* 正确提示框 */
                                window.YDUI.dialog.toast(r.msg, 'success', 1000, function () {
                                    vm.getInfo($studentId);
                                });
                            } else{
                                window.YDUI.dialog.toast(r.msg, 'error', 1000, function () {
                                    window.YDUI.dialog.alert('保存失败，请检查后，重新提交!');
                                });
                            }
                        }
                    });
                },
                getInfo: function(id){
                    $.get("http://183.195.133.44:81/app/getStudentInfoById/"+id, function(r){
                        if(r.code == 0){
                            vm.shStudent = r.shStudent;
                        }else{
                            alert(r.msg);
                        }
                    });
                }
            }
        });
    } else {
        dialog.toast('很抱歉，用户登录信息已过期，请重新登录', 'error', 3000, function () {
            window.location = 'register_manager.html';
        });
    }
}(window, jQuery);
</script>
</body>
</html>